# Copiar a ingesta-vehiculos/.env

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres123
DB_NAME=vehicles_db

S3_BUCKET_NAME=logis-cloud-2026-2
AWS_REGION=us-east-1

INTERVALO_INGESTA=60
RETRY_INGESTA=10
